* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 2px solid blue; */
}

:root {
    --navcolor: #0f1111;
    --sec-color: #222f3d;
    --txt-color: white;
    --txt-sec-color: #cccccc;
    --search-color: #febd68;
    --zero: #ff9b18;
    --link-color: #2162a1;
    --hover-link: #0c3353;
    --body-bg-color: #cccccc9d;
    --bckTop-color: #37475A;
}

body {
    background-color: var(--body-bg-color);
}

/* ========== Navigation Panel ========== */

nav {
    width: 100vW;
    height: 60px;
    background-color: var(--navcolor);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navLogo {
   width: 110px;
   height: 50px;
   padding-top: 5px;
   margin-left: 8px;
}

.navLogo img {
    height: 38px;
}

.Loc {
    color: var(--txt-color);
    width: 85px;
}

.deli {
    color: var(--txt-sec-color);
    font-size: 0.7rem;
    display: inline-block;
}

.ind {
    font-size: 0.9rem;
    font-weight: 550;
    /* position: relative;
    left: 20px; */
}

.fa-location-dot {
    float: left;
    margin-top: 19px;
}

.navSearch {
    height: 60px;
    width: 60%;
    display: flex;
    color: var(--txt-color);
}

.navsrch {
    height: 40px;
    border: none;
    align-self: center;
}

.allSelect {
    width: 50px;
    background-color: var(--txt-sec-color);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: rgb(66, 66, 66);
    font-size: 0.77rem;
    text-align: center;
}

.srchPanel {
    width: 100%;
    font-size: 0.95rem;
    padding-left: 5px;
}

.srchBtn {
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--search-color);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.fa-magnifying-glass {
    color: #2f2f2f;
    font-size: 1.28rem;
}

.navLang {
    width: 45px;
    height: 45px;
}

.navLang select {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    color: var(--txt-color);
    font-weight: 700;
    font-size: 0.9rem;
    text-align: start;
}

.navSign-in {
    color: var(--txt-color);
    width: 122px;
    padding: 5px 2px 5px 2px;
}

.hello-signIn {
    color: var(--txt-sec-color);
    font-size: 0.7rem;
}

.accountNlists {
    font-size: 0.9rem;
    font-weight: 600;
}

.returnsBox {
    color: var(--txt-color);
    width: 69px;
    padding: 5px 2px 5px 2px;
}

.retrns {
    color: var(--txt-sec-color);
    font-size: 0.7rem;
}

.ords {
    font-size: 0.9rem;
    font-weight: 600;
}

.cartBox {
    color: var(--txt-color);
    height: 50px;
    width: 80px;
    display: flex;
    align-items: center;
}

.fa-cart-shopping {
    /* display: inline-block; */
    font-size: 2rem;
    transform: translateY(20px);
}

.crt-txt {
    /* display: inline-block; */
    font-weight: bold;
    align-self: flex-end;
    padding-bottom: 10px;
}

.fa-cart-shopping p {
    color: var(--zero);
    font-size: 0.9rem;
    transform: translateY(-45px);   
}

@media (max-width: 940px) {
    nav {
        height: 55px;
    }

    .navLogo{
        transform: scale(0.8);
    }

    .Loc {
        padding-left: 3px;
    }
    
    .loc-child {
        font-size: 0.7rem;
    }

    .fa-location-dot {
        /* position: relative;
        right: 10px;
        top: 10px; */
        font-size: 0.7rem;
    }

    /* .Loc p {
        position: relative;
        bottom: 20px;
        left: 3px;
    } */
    
    .navSearch {
        transform: scale(0.95);
    }

    .navLang {
        transform: scale(0.9);
    }

    .navSign-in p {
        font-size: 0.7rem;
    }

    .returnsBox p {
        font-size: 0.7rem;
    }

    .cartBox p {
        font-size: 0.9rem;
        margin-right: 5px;
    }

    .fa-cart-shopping {
        transform: scale(0.88);
        padding-top: 15px;
    }
}

.hoverrr {
    border: 1px solid transparent;
}

.hoverrr:hover {
    border: 1px solid var(--txt-color);
}

@media (max-width: 716px) {
    nav {
        height: 47px;
    }

    .navLogo{
        transform: scale(0.7);
    }

    .Loc {
        padding-bottom: 3px;
        transform: translateX(-6px);
        width: 90px;
    }
    
    .loc-child {
        font-size: 0.6rem;
    }

    .fa-location-dot {
        /* position: relative;
        right: 10px;
        top: 10px; */
        font-size: 0.65rem;
    }

    /* .Loc p {
        position: relative;
        bottom: 20px;
        left: 3px;
    } */
    
    .navSearch {
        transform: scale(0.87);
    }

    .navLang {
        transform: scale(0.7);
        transform: translateX(-12px);
    }

    .navSign-in p {
        font-size: 0.58rem;
    }

    .returnsBox p {
        font-size: 0.58rem;
    }

    .cartBox p {
        font-size: 0.78rem;
        margin-right: 5px;
    }

    .fa-cart-shopping {
        transform: scale(0.76);
        padding-top: 15px;
    }
}

/* ==========Sub-Nav Panel========== */

.subNavPanel {
    width: 100vw;
    height: 40px;
    background-color: var(--sec-color);
    color: var(--txt-color);
    display: flex;
    align-items: center;
}

.mainLi {
    display: flex;
    /* align-items: center; */
    margin-left: 15px;
    column-gap: 20px;
    font-size: 0.93rem;
}

.all-subNav {
    font-weight: 600;
}

.LiUl {
    border: 1 solid transparent;
    padding: 10px 2px 10px 2px;
    align-self: center;
    /* display: flex;
    align-items: center; */
}

.LiUl:hover {
    border: 1px solid var(--txt-color);
    transform: translateY(1px);
}

@media (max-width: 940px) {
    .subNavPanel {
        height: 35px;
    }
    
    .LiUl {
        font-size: 0.8rem;
    }
}

@media (max-width: 716px) {
    .subNavPanel {
        height: 32px;
    }
    
    .LiUl {
        font-size: 0.7rem;
    }
}

/* ========== Main Content ========== */

main {
    width: 98vw;
    height: auto;
    background-image: url(assets/Hero-img-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    justify-self: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 326px;
}

.amazon-headLink p a {
    text-decoration: none;
    color: var(--link-color);
}

.amazon-headLink {
    height: 40px;
    width: 97%;
    padding: 15px ;
    background-color: var(--txt-color);
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(370px);
}

.amazon-headLink p {
    font-size: 0.9rem;
    align-self: center;
    /* padding: 8px 0px 8px 0px; */
}

.items {
    /* border: 1px solid; */
    height: 900px;
    width: 100%;
    transform: translateY(370px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.Item-Box {
    /* border: 1px solid; */
    width: 350px;
    height: 385px;
    background-color: var(--txt-color);
    margin-top: 20px;
    padding: 20px 0px 15px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .mainItem-content {
    height: 385px;
    width: 310px;
    border: 1px solid;
} */

.boxTitle {
    align-self: flex-start;
    margin-left: 20px;
    font-size: 1.3rem;
    font-weight: 600;
}

.mainImage1 {
    width: 310px;
    height: 304px;
    background-image: url(assets/Fuji_Gaming_SingleImageCard_C-1._SY304_CB762596570_.jpg);
}

.itemLink {
    text-decoration: none;
    font-size: 0.8rem;
    color: var(--link-color);
    align-self: flex-start;
    margin: 10px 0 0 20px;
    /* font-weight: bold; */
}

.mainImage2 {
    width: 310px;
    height: 304px;
    background-image: url(assets/p1.jpg);
}

.box3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 17px;
}

.mainImage3-8 {
    width: 147px;
    height: 116px;
    /* border: 1px solid; */
    transform: translateX(20px);
}

.imageOf-31 {
    background-image: url(assets/DQC_APR_TBYB_W_BOTTOMS_1x._SY116_CB624172947_.jpg);
}

.imageOf-32 {
    background-image: url(assets/DQC_APR_TBYB_W_TOPS_1x._SY116_CB623353881_.jpg);
}

.imageOf-33 {
    background-image: url(assets/DQC_APR_TBYB_W_DRESSES_1x._SY116_CB623353881_.jpg);
}

.imageOf-34 {
    background-image: url(assets/DQC_APR_TBYB_W_SHOES_1x._SY116_CB624172947_.jpg);
}

.box4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 17px;
}

.imageOf-41 {
    background-image: url(assets/Fuji_QuadCard_Bag_BTS25_1x._SY116_CB789327598_.jpg);
}

.imageOf-42 {
    background-image: url(assets/Fuji_QuadCard_Electronics_BTS25_1x._SY116_CB789327598_.jpg);
}

.imageOf-43 {
    background-image: url(assets/Fuji_QuadCard_Stationery_BTS25_1x._SY116_CB789327598_.jpg);
}

.imageOf-44 {
    background-image: url(assets/Fuji_QuadCard_Fashion_BTS25_1x._SY116_CB789327598_.jpg);
}

.box5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 17px;
}

.imageOf-51 {
    background-image: url(assets/Home_Flip_Summer_2024_315_HP_NewArrivals_QuadCard_D_01_1x._SY116_CB555960040_.jpg);
}

.imageOf-52 {
    background-image: url(assets/Home_Flip_Summer_2024_316_HP_NewArrivals_QuadCard_D_02_1x._SY116_CB555960040_.jpg);
}

.imageOf-53 {
    background-image: url(assets/Home_Flip_Summer_2024_317_HP_NewArrivals_QuadCard_D_03_1x._SY116_CB555960040_.jpg);
}

.imageOf-54 {
    background-image: url(assets/Home_Flip_Summer_2024_318_HP_NewArrivals_QuadCard_D_04_1x._SY116_CB555960040_.jpg);
}

.box6 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 7px;
}

.mainImage6 {
    width: 100px;
    height: 75px;
}

.mainImage61 {
    width: 310px;
    height: 145px;
}

.imageOf-61 {
    background-image: url(assets/313wAT6Iy2L._SY160_.jpg);
}

.imageOf-62 {
    background-image: url(assets/21W7-lndINL._SY75_.jpg);
}

.imageOf-63 {
    background-image: url(assets/21B-NkA9p-L._SY75_.jpg);
}

.imageOf-64 {
    background-image: url(assets/217GQ1a2QzL._SY75_.jpg);
}

.link6 {
    transform: translateX(-80px);
}

.box7 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 17px;
}

.imageOf-71 {
    background-image: url(assets/LSS23_SPRING_DT_CAT_CARD_2_x1._SY116_CB595261253_.jpg);
}

.imageOf-72 {
    background-image: url(assets/LSS23_SPRING_DT_CAT_CARD_3_x1._SY116_CB595261253_.jpg);
}

.imageOf-73 {
    background-image: url(assets/LSS23_SPRING_DT_CAT_CARD_4_x1._SY116_CB595261253_.jpg);
}

.imageOf-74 {
    background-image: url(assets/LSS23_SPRING_DT_CAT_CARD_1_x1._SY116_CB595261253_.jpg );
}

.box8 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 17px;
}

.imageOf-81 {
    background-image: url(assets/2023Q2_GW_EE_LaundryLuxe_D_Quad_186x116._SY116_CB594237035_.jpg);
}

.imageOf-82 {
    background-image: url(assets/2023Q2_GW_EE_Kitchen_D_Quad_186x116._SY116_CB594237035_.jpg);
}

.imageOf-83 {
    background-image: url(assets/2023Q2_GW_EE_AccentFurniture_D_Quad_186x116._SY116_CB594237035_.jpg);
}

.imageOf-84 {
    background-image: url(assets/2023Q2_GW_EE_Hallway_D_Quad_186x116._SY116_CB594237035_.jpg);
}

/* ========== Back To Top Section ========== */

.bckTo-top {
    width: 100vw;
    height: 19px;
    padding: 23.5px 0 23.5px 0;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bckTop-color);
    /* margin-top: 430px; */
}

.bcktoplink {
    text-decoration: none;
    color: var(--txt-color);
    font-size: 0.8rem;
}

.bckTo-top:hover {
    background-color: #37475ad3;
}

.infoContent {
    width: 100vw;
    height: 350px;
    background-color: var(--sec-color);
    display: flex;
    align-items: center;
}

.mainfoot-Content {
    width: 1000px;
    height: 268px;
    margin: 0 260px 0 260px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.mainList {
    color: var(--txt-color);
    font-weight: 700;
    font-size: 0.98rem;
    line-height: 35px;
}

.listItems {
    color: var(--txt-sec-color);
    list-style: none;
    font-size: 0.88rem;
    font-weight: lighter;
    line-height: 27px;
}

.listItems:hover {
    text-decoration: underline;
}

.foot-lastBar {
    width: 100vw;
    height: 110px;
    background-color: var(--sec-color);
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
}

.footLogo {
    width: 75px;
    height: 30px;
    margin-right: 90px;
}

.footBtn {
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.884);
    font-size: 0.75rem;
}

.foot-lang i, p {
    display: inline-block;
}

.footDiv {
    padding: 8px 20px 8px 10px;
    border: 0.5px solid var(--txt-sec-color);
    margin-bottom: 8px;
}

.foot-lang {
    color: rgba(255, 255, 255, 0.884);
    font-size: 0.75rem;
    padding: 10.5px;
}

hr {
    border: none;
    height: 1px;
    background-color: #3b4150;
}

@media (max-width: 1423px) {
    .bckTo-top {
        margin-top: 686px;
    }
}

@media (max-width: 1214px) {
    .mainfoot-Content {
        margin: 0 80px 0 80px;
    }

    .mainList {
        font-size: 0.9rem;
    }

    .listItems {
        font-size: 0.8rem;
    }
}

@media (max-width: 1072px) {
    .bckTo-top {
        margin-top: 1091px;
    }
}

@media (max-width: 791px) {
    .mainfoot-Content {
        margin: 0 50px 0 50px;
    }

    .mainList {
        font-size: 0.8rem;
    }

    .listItems {
        font-size: 0.7rem;
    }
}

@media (max-width: 713px) {
    .bckTo-top {
        margin-top: 2680px;
    }
}